[submodule "dbext.vim"]
	path = dbext.vim
	url = git://github.com/vim-scripts/dbext.vim
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "powershell-vim"]
	path = powershell-vim
	url = git://github.com/gabemc/powershell-vim
[submodule "vcscommand"]
	path = vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "csv.vim"]
	path = csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule "Vim-JDE"]
	path = Vim-JDE
	url = git://github.com/vim-scripts/Vim-JDE.git
[submodule "mirodark"]
	path = mirodark
	url = git://github.com/djjcast/mirodark.git
