[submodule "dbext.vim"]
	path = dbext.vim
	url = git://github.com/vim-scripts/dbext.vim
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "powershell-vim"]
	path = powershell-vim
	url = git://github.com/gabemc/powershell-vim
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "csv.vim"]
	path = csv.vim
	url = git://github.com/chrisbra/csv.vim.git
[submodule "Vim-JDE"]
	path = Vim-JDE
	url = git://github.com/vim-scripts/Vim-JDE.git
[submodule "mirodark"]
	path = mirodark
	url = git://github.com/djjcast/mirodark.git
[submodule "rubycomplete.vim"]
	path = rubycomplete.vim
	url = https://github.com/vim-scripts/rubycomplete.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-surround"]
	path = vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "simple-javascript-indenter"]
	path = simple-javascript-indenter
	url = https://github.com/jiangmiao/simple-javascript-indenter.git
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim-mark"]
	path = vim-mark
	url = https://github.com/dimasg/vim-mark.git
[submodule "vim-javacomplete"]
	path = vim-javacomplete
	url = https://github.com/gigelu/vim-javacomplete.git
[submodule "vim-bad-whitespace"]
	path = vim-bad-whitespace
	url = git://github.com/bitc/vim-bad-whitespace.git
[submodule "aspnetcs"]
	path = aspnetcs
	url = git://github.com/vim-scripts/aspnetcs.git
[submodule "roo.vim"]
	path = roo.vim
	url = git://github.com/vim-scripts/roo.vim.git
[submodule "vim-ruby"]
	path = vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim-clojure-static"]
	path = vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim-rsi"]
	path = vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule "vim-erroneous"]
	path = vim-erroneous
	url = git://github.com/idanarye/vim-erroneous.git
[submodule "vim-eunuch"]
	path = vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim-jst"]
	path = vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "psearch.vim"]
	path = psearch.vim
	url = https://github.com/idanarye/psearch.vim.git
[submodule "vimproc"]
	path = vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vimshell"]
	path = vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim-git-log"]
	path = vim-git-log
	url = git://github.com/kablamo/vim-git-log.git
[submodule "breeze.vim"]
	path = breeze.vim
	url = git://github.com/idanarye/breeze.vim.git
[submodule "vim-integrake"]
	path = vim-integrake
	url = https://github.com/idanarye/vim-integrake.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-bbye"]
	path = vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim-easyclip"]
	path = vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule "crunch"]
	path = crunch
	url = https://github.com/arecarn/crunch.git
[submodule "vim-yankitute"]
	path = vim-yankitute
	url = https://github.com/idanarye/vim-yankitute.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim-textmanip"]
	path = vim-textmanip
	url = https://github.com/t9md/vim-textmanip.git
[submodule "mlessnau_case"]
	path = mlessnau_case
	url = https://github.com/vim-scripts/mlessnau_case.git
[submodule "keepcase.vim"]
	path = keepcase.vim
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "ttoc_vim"]
	path = ttoc_vim
	url = https://github.com/tomtom/ttoc_vim.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-vebugger"]
	path = vim-vebugger
	url = https://github.com/idanarye/vim-vebugger.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "rainbow"]
	path = rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim-extradite"]
	path = vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim-scriptease"]
	path = vim-scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "bufstop"]
	path = bufstop
	url = git://github.com/mihaifm/bufstop.git
[submodule "vim-merginal"]
	path = vim-merginal
	url = git://github.com/idanarye/vim-merginal.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim-bookmarks"]
	path = vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "AdvancedSorters"]
	path = AdvancedSorters
	url = https://github.com/vim-scripts/AdvancedSorters.git
[submodule "ingo-library"]
	path = ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "vim-dutyl"]
	path = vim-dutyl
	url = git://github.com/idanarye/vim-dutyl.git
[submodule "vim-rengbang"]
	path = vim-rengbang
	url = https://github.com/deris/vim-rengbang.git
[submodule "vim-operator-user"]
	path = vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "vim-argwrap"]
	path = vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "vim-plugin-AnsiEsc"]
	path = vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule "vim-casetrate"]
	path = vim-casetrate
	url = https://github.com/idanarye/vim-casetrate.git
[submodule "vim-indentwise"]
	path = vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "vim-ninja-feet"]
	path = vim-ninja-feet
	url = https://github.com/tommcdo/vim-ninja-feet.git
[submodule "ctrlsf.vim"]
	path = ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "mirror.vim"]
	path = mirror.vim
	url = https://github.com/zenbro/mirror.vim.git
[submodule "lazyList.vim"]
	path = lazyList.vim
	url = https://github.com/KabbAmine/lazyList.vim.git
[submodule "FIGlet.vim"]
	path = FIGlet.vim
	url = https://github.com/fadein/FIGlet.vim.git
[submodule "SimpylFold"]
	path = SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim-do"]
	path = vim-do
	url = https://github.com/joonty/vim-do.git
[submodule "vim-qml"]
	path = vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "vim-swap"]
	path = vim-swap
	url = https://github.com/machakann/vim-swap.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-omnipytent"]
	path = vim-omnipytent
	url = https://github.com/idanarye/vim-omnipytent.git
[submodule "jedi-vim"]
	path = jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "targets.vim"]
	path = targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "visual-split.vim"]
	path = visual-split.vim
	url = https://github.com/wellle/visual-split.vim.git
[submodule "vim-javacomplete2"]
	path = vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "vim-gradle"]
	path = vim-gradle
	url = https://github.com/vim-scripts/vim-gradle.git
[submodule "linediff.vim"]
	path = linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim-exchange"]
	path = vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "kotlin-vim"]
	path = kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "unite.vim"]
	path = unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "neomru.vim"]
	path = neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule "indentLine"]
	path = indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "ctrlp-py-matcher"]
	path = ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "ctrlp-modified.vim"]
	path = ctrlp-modified.vim
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
[submodule "vim-smile"]
	path = vim-smile
	url = https://github.com/idanarye/vim-smile.git
[submodule "vim-racer"]
	path = vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-terminalogy"]
	path = vim-terminalogy
	url = https://github.com/idanarye/vim-terminalogy.git
[submodule "neovim-fuzzy"]
	path = neovim-fuzzy
	url = https://github.com/cloudhead/neovim-fuzzy.git
[submodule "LanguageClient-neovim"]
	path = LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
